- breadcrumb :chapters, @syllabus, :link_last => true
- model_class = Chapter
.page-header
  %h4=t '.title', :default => model_class.model_name.human.pluralize.titleize
- if current_user.has_role? :professor
  = link_to t('.new', :default => t("helpers.links.new")), new_course_syllabus_chapter_path(@course, @syllabus), :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:status)
      %th= model_class.human_attribute_name(:syllabus_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @chapters.each do |chapter|
      %tr
        %td= link_to chapter.name, course_syllabus_chapter_path(@course, @syllabus, chapter)
        %td= chapter.description
        %td= EduInsConstants::STATUS_MAPPING.get_by_key_from_2d_array(chapter.status)
        %td= chapter.syllabus_id
        %td= User.display_formatted_date(chapter.created_at)
        %td
          - if current_user.has_role? :professor
            = link_to image_tag('application_edit.png'), edit_course_syllabus_chapter_path(@course, @syllabus, chapter)
            = link_to image_tag('cross.png'), course_syllabus_chapter_path(@course, @syllabus, chapter), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? All its Syllabus & Chapters will be deleted?')) }
           

